.pagination-container {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 5px;
  margin: 30px 0;
}

.pagination-page {
  display: inline-block;
  margin: 0 5px;
}

.pagination-break {
  padding: 8px 12px;
  border: 1px solid var(--black-color);
  border-radius: 5px;
  color: var(--black-color);
  font-size: 14px;
}

.pagination-previous,
.pagination-next,
.pagination-page a {
  text-decoration: none;
  padding: 8px 12px;
  font-size: 14px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  background-color: var(--black-color);
  color: #fff;
  cursor: pointer;
}

.pagination-previous:hover,
.pagination-next:hover,
.pagination-page a:hover {
  background-color: #333;
}

.pagination-active {
  background-color: #fff;
  color: var(--black-color);
  border-radius: 5px;
  box-shadow: 5px 5px 15px var(--black-color);
}
