.card-container {
  background: #fff;
  width: 240px;
  height: 450px;
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  position: relative;
}
.card-container img {
  width: 240px;
  height: 240px;
}

.card-description {
  padding-left: 2rem;
  padding-right: 2rem;
}

.card-head h3 {
  font-size: 2.4rem;
}
.card-head p {
  font-size: 2rem;
}

.card-button {
  background-color: var(--black-color);
  color: #fff;
  padding: 8px 75.999px;
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: 0%;
  cursor: pointer;
}
.card-button:hover {
  background-color: #333;
}
.fav-button {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-size: 3rem;
  background-color: transparent;
}
.status {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #fff;
  padding: 5px 9px;
  border-radius: 3rem;
  font-size: 12px;
}
.fav-button-active {
  color: red;
}
